body {
  margin: 1; font-family: Arial, Helvetica, sans-serif; }
#header{
  display: flex; padding: 1px; height: 80px; background-color: rgb(11, 11, 11); }
#header .logo{
  width: 20%; padding: 35px 16px 30px 25px; text-align:right; }
#header .topnav {
  overflow:hidden; width: 60%; display: flex; }
.topnav a {
  float:left; display: block; color: #f2f2f2; padding: 30px 16px; text-decoration:none;}
.topnav a:hover {
  background-color: #ddd; color: rgba(246, 152, 45, 0.918); }
.topnav .icon {
  display:none; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon { float: right; display: block;}
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align:left;}
}
.dropdown {
  float: left; overflow: hidden; border-radius: 20px; }
.topnav a:hover, .dropdown:hover {
  background-color:#333; }

.dropdown-content {
  display: none; position: absolute; background-color: #333; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; }

.dropdown-content a {
  float: none; color: black; background-color: #333; padding: 30px 16px; text-decoration: none; text-align: left; }

.dropdown-content a:hover {
  background-color: #706f6f; border-radius: 20px; }

.dropdown:hover .dropdown-content {
  display: block; }


#homesection{
    filter: contrast(90%); padding: 0px; margin: 0px; height: 700px;
    background-image:url(image/image2.jpg); background-repeat: no-repeat; background-position: center; background-size:cover;
}

#homesection .left1{
  padding-top: 150px; padding-left: 50px; line-height: 1px;
}
#homesection p{
  font-size:medium; padding-left: 60px; color:rgba(246, 152, 45, 0.918);text-decoration-line: underline;
  text-decoration-style:solid ;
}
#homesection h1{
  color:white; font-size: 100px; padding-left: 50px; 
  text-shadow: 5px 5px 5px rgba(246, 152, 45, 0.918);
}
#homesection h3{
  color:white;padding-left: 50px;
  font-size:15px; font-weight: 200; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#homesection span{
  color:rgba(246, 152, 45, 0.918); 
}
.button2,.button3{
  background-color:rgba(246, 152, 45, 0.918); color: black; border-radius: 50px; height:50px; width: 150px;
  padding-left:1px; margin: 40px; text-align: center; transition-duration: 0.4s; cursor: pointer;
}
.button2{
  background-color:rgba(246, 152, 45, 0.918) ; color: black; border: 2px solid black;
}
.button2:hover{
  background-color: white; color: black; border: 2px solid white;
}
.button3{
  background-color:transparent; color: white; border: 2px solid white;
}
.button3:hover{
  background-color: rgba(246, 152, 45, 0.918); color: black; border: 2px solid rgba(246, 152, 45, 0.918);
}

#homecontainer1{
  height: 600px; background-color: rgb(27, 26, 26); display:flex;
}

.left{
  width: 50%; padding-left:50px ; padding-top:50px ;
 
}
h3{
  padding-left:50px ; padding-top:50px ; font-size: small; color:rgba(246, 152, 45, 0.918) ;
}
h2{
  padding-left:50px ; color:white ; font-size: 40px;
}
span{
  color:rgba(246, 152, 45, 0.918); }
p{
   padding-left:50px ; padding-top: 1px; font-size: 15px; color:#7c7b7b ;
}
button{
  background-color:rgba(246, 152, 45, 0.918); color: black; border-radius: 50px; height:50px; width: 150px; padding-left:1px;
  margin: 40px; text-align: center; transition-duration: 0.4s; cursor: pointer;
}
button:hover{
  background-color: white; color: black;
}
.right{
  width: 50%;padding: 100px 5px 100px 100px;
}
.right img{
  border-image: 6px; border-radius: 30px 30px 30px 1px; border-color:#7c7b7b ;
}


#homecontainer2{
    height: 600px;
    background-color: rgb(11, 11, 11);
    padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homecontainer2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center {
  display: inline;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
 
}
.center h3{
   color:rgba(246, 152, 45, 0.918);;
  text-align: center;
}
.center h1{
  color: white;
  text-align: center;
  justify-content: center;
}

.car{
  height: 300px;
  width: auto;
  object-fit: contain;
  padding: 40px;
transition-duration: 0.4s; cursor: pointer;
}










.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #262626;
  height: 150px;
  margin: 3px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container4 {
  display: inline;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.brand {
  height: 80px;
  width: auto;
  object-fit: contain;
}
.end2 {
  text-align: center;
  padding: 50px;
  background-color: #000;
  color: white;
}

.container6 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.box6 {
  flex: 1;
  max-width: 250px;
  min-width: 200px;
  margin: 10px;
  padding: 20px;
  border: 2px solid ;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 16px;
}

.icon {
  font-size: 22px;
  color: #f9b954;
}

